---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetF805Data xmlns="http://web.cbr.ru/">
              <CredorgNumber>1481</CredorgNumber>
              <dateTime>2024-07-01</dateTime>
              <par>1</par>
            </GetF805Data>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetF805DataResponse
        xmlns="http://web.cbr.ru/"><GetF805DataResult><xs:schema id="F805" xmlns=""
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="F805" msdata:IsDataSet="true" msdata:UseCurrentLocale="true"><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="F805"><xs:complexType><xs:sequence><xs:element
        name="RowNumber" type="xs:string" minOccurs="0" /><xs:element name="MemberId"
        type="xs:int" minOccurs="0" /><xs:element name="Val" type="xs:decimal" minOccurs="0"
        /></xs:sequence></xs:complexType></xs:element><xs:element name="F8051"><xs:complexType><xs:sequence><xs:element
        name="RowNumber" type="xs:string" minOccurs="0" /><xs:element name="Adj" type="xs:decimal"
        minOccurs="0" /><xs:element name="Total" type="xs:decimal" minOccurs="0" /></xs:se[...]
