---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetDatesForF123 xmlns="http://web.cbr.ru/">
              <CredprgNumber>1481</CredprgNumber>
            </GetDatesForF123>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetDatesForF123Response
        xmlns="http://web.cbr.ru/"><GetDatesForF123Result><dateTime>2014-02-01T00:00:00</dateTime><dateTime>2014-03-01T00:00:00</dateTime><dateTime>2014-04-01T00:00:00</dateTime><dateTime>2014-05-01T00:00:00</dateTime><dateTime>2014-06-01T00:00:00</dateTime><dateTime>2014-07-01T00:00:00</dateTime><dateTime>2014-08-01T00:00:00</dateTime><dateTime>2014-09-01T00:00:00</dateTime><dateTime>2014-10-01T00:00:00</dateTime><dateTime>2014-11-01T00:00:00</dateTime><dateTime>2014-12-01T00:00:00</dateTime><dateTime>2015-01-01T00:00:00</dateTime><dateTime>2015-02-01T00:00:00<[...]
