---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/FO_ZoomWS/FinOrg.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetLastUpdate xmlns="http://web.cbr.ru/"/>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetLastUpdateResponse
        xmlns="http://web.cbr.ru/"><GetLastUpdateResult>2025-03-11T00:00:00</GetLastUpdateResult></GetLastUpdateResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 12 Mar 2025 15:45:13 GMT
recorded_with: VCR 6.3.1
