---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GeCards xmlns="http://web.cbr.ru/">
              <InternalCode>350000004</InternalCode>
            </GeCards>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GeCardsResponse
        xmlns="http://web.cbr.ru/"><GeCardsResult><xs:schema id="cards" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:msprop="urn:schemas-microsoft-com:xml-msprop"><xs:element
        name="cards" msdata:IsDataSet="true" msdata:UseCurrentLocale="true" msprop:Code="350000004"><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="CC"><xs:complexType><xs:sequence><xs:element
        name="system_name" type="xs:string" minOccurs="0" /><xs:element name="fl_emiss"
        type="xs:unsignedByte" minOccurs="0" /><xs:element name="fl_equar" type="xs:unsignedByte"
        minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"
        /></GeCardsResult></GeCardsResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 06 Feb 2025 15:35:23 GMT
recorded_with: VCR 6.3.1
