---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <BicToRegNumber xmlns="http://web.cbr.ru/">
              <BicCode>0</BicCode>
            </BicToRegNumber>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><BicToRegNumberResponse
        xmlns="http://web.cbr.ru/"><BicToRegNumberResult>-1</BicToRegNumberResult></BicToRegNumberResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 03 Mar 2025 14:07:53 GMT
recorded_with: VCR 6.3.1
