---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <Data802F xmlns="http://web.cbr.ru/">
              <CredorgNumber>1481</CredorgNumber>
              <Dt>2024-01-01</Dt>
            </Data802F>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><Data802FResponse
        xmlns="http://web.cbr.ru/"><Data802FResult><xs:schema id="F802" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element name="F802"
        msdata:IsDataSet="true" msdata:UseCurrentLocale="true"><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="F802"><xs:complexType><xs:sequence><xs:element
        name="fstr" type="xs:string" minOccurs="0" /><xs:element name="numerik" type="xs:decimal"
        minOccurs="0" /><xs:element name="fsum" type="xs:decimal" minOccurs="0" /><xs:element
        name="korr_m" type="xs:decimal" minOccurs="0" /><xs:element name="korr_p"
        type="xs:decimal" minOccurs="0" /><xs:element name="vsego" type="xs:decimal"
        minOccurs="0" /><xs:element name="tip_uch" type="xs:string" minOccurs="0"
        /></xs:sequence></xs:complexType></xs:e[...]
