---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetPeriodsOfDocuments xmlns="http://web.cbr.ru/">
              <InternalCode>350000004</InternalCode>
            </GetPeriodsOfDocuments>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetPeriodsOfDocumentsResponse
        xmlns="http://web.cbr.ru/"><GetPeriodsOfDocumentsResult><Docs Regnum="" xmlns=""><F101><Year
        Year="2025"><Month On="1" when="0" /></Year><Year Year="2024"><Month On="1"
        when="0" /><Month On="2" when="0" /><Month On="3" when="0" /><Month On="4"
        when="0" /><Month On="5" when="0" /><Month On="6" when="0" /><Month On="7"
        when="0" /><Month On="8" when="0" /><Month On="9" when="0" /><Month On="10"
        when="0" /><Month On="11" when="0" /><Month On="12" when="0" /></Year><Year
        Year="2023"><Month On="6" when="0" /><Month On="7" when="0" /><Month On="8"
        when="0" /><Month On="9" when="0" /><Month On="1[...]
