---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetDatesForF101 xmlns="http://web.cbr.ru/">
              <CredprgNumber>1481</CredprgNumber>
            </GetDatesForF101>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetDatesForF101Response
        xmlns="http://web.cbr.ru/"><GetDatesForF101Result><dateTime>2003-06-01T00:00:00</dateTime><dateTime>2003-07-01T00:00:00</dateTime><dateTime>2003-08-01T00:00:00</dateTime><dateTime>2003-09-01T00:00:00</dateTime><dateTime>2003-10-01T00:00:00</dateTime><dateTime>2003-11-01T00:00:00</dateTime><dateTime>2003-12-01T00:00:00</dateTime><dateTime>2004-01-01T00:00:00</dateTime><dateTime>2004-02-01T00:00:00</dateTime><dateTime>2004-03-01T00:00:00</dateTime><dateTime>2004-04-01T00:00:00</dateTime><dateTime>2004-05-01T00:00:00</dateTime><dateTime>2004-06-01T00:00:00<[...]
