---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <Data101FullExV2 xmlns="http://web.cbr.ru/">
              <CredorgNumbers>
                <double>1481</double>
                <double>1326</double>
              </CredorgNumbers>
              <IndCode>106</IndCode>
              <DateFrom>2024-01-01</DateFrom>
              <DateTo>2024-12-01</DateTo>
            </Data101FullExV2>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><Data101FullExV2Response
        xmlns="http://web.cbr.ru/" /></soap:Body></soap:Envelope>
  recorded_at: Tue, 04 Feb 2025 15:44:42 GMT
recorded_with: VCR 6.3.1
