---
http_interactions:
- request:
    method: post
    uri: https://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetDatesForF102 xmlns="http://web.cbr.ru/">
              <CredprgNumber>1481</CredprgNumber>
            </GetDatesForF102>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetDatesForF102Response
        xmlns="http://web.cbr.ru/"><GetDatesForF102Result><dateTime>2025-01-01T00:00:00</dateTime><dateTime>2024-10-01T00:00:00</dateTime><dateTime>2024-07-01T00:00:00</dateTime><dateTime>2024-04-01T00:00:00</dateTime><dateTime>2024-01-01T00:00:00</dateTime><dateTime>2023-10-01T00:00:00</dateTime><dateTime>2023-07-01T00:00:00</dateTime><dateTime>2022-01-01T00:00:00</dateTime><dateTime>2021-10-01T00:00:00</dateTime><dateTime>2021-07-01T00:00:00</dateTime><dateTime>2021-04-01T00:00:00</dateTime><dateTime>2021-01-01T00:00:00</dateTime><dateTime>2020-10-01T00:00:00<[...]
